<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>


    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>All Courses</h2>


          </div>

          <div class="body">

              <div class="row">
              <div class="col-md-3" *ngFor="let item of items " >
                <div class="course-card course-card-blog">
                  <div class="course-card-image">
                   <a class="btn"  style="padding:0px;" (click)="details(item)"> <img class="img" src="assets/images/banner/example.jpg" ></a>
                  </div>
                  <div class="blog-table">
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="assets/images/user/user1.jpg" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs"> {{item.courseName}}</h6>
                      <p class="text-muted"> Course Id: {{item.CourseId}}</p>
                    </div>
                    <h6>{{item.teacher}}</h6>
                    <p class="course-card-description">{{item.courseDetails}}</p>
                    <div class="text-center mb-3">
                      <button mat-raised-button color="primary" (click)="details(item)">Read More</button>
                    </div>
                    <div class="ftr">
                      <div class="author">
                        <a href="#"><span class="text-danger"><i class="fa fa-heart"></i>
                            {{item.price}}</span></a>
                      </div>
                      <div class="stats"> <a href="#"><i class="far fa-comment-dots"></i>{{item.length}}</a> </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
