

<section class="content" style="max-height: 800px; overflow-y: auto; ">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row ">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="contact-grid">
            <div class="card-body no-padding height-9">
              <div class="row">
                <div class="about-course-img">
                  <img src="assets/images/banner/example.jpg" alt="">
                </div>
              </div>
              <div class="mt-3">
                <h4 class="profile-usertitle-name"> {{course.courseName}} </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>About Course</h2>
          </div>
          <div class="card-body">
            <div class="">
              <p class="text-default">Open after rule place He earth earth good called days unto which
                wherein day
                doesn't said day image signs
                fish days forth for evening whose his make his bearing years gathering good
                brought without.</p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Duration </b>
                  <div class="profile-desc-item float-end">{{course.length}}</div>
                </li>
                <li class="list-group-item">
                  <b>Price </b>
                  <div class="profile-desc-item float-end">{{course.price}}</div>
                </li>
                <li class="list-group-item">
                  <b>Professor Name </b>
                  <div class="profile-desc-item float-end">{{course.teacher}}</div>
                </li>
                <li class="list-group-item">
                  <b>Date</b>
                  <div class="profile-desc-item float-end">{{course.startDate | date:'short'}}</div>
                </li>
                <li class="list-group-item">
                  <b>Course ID</b>
                  <div class="profile-desc-item float-end">{{course.CourseId}}</div>
                </li>
                <li class="list-group-item">
                  <b>Student Number</b>
                  <div class="profile-desc-item float-end">{{courseStudentsNumber(dataSource2.data)}}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>





      <div class="col-lg-8 col-md-12" >
        <div class="row ">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="padding: 3%;">
              <h5 class="col-orange">Course Syllabus</h5>
                <hr>
                <ul>
                  <li>- Introduction to Computer and Internet.</li>
                  <li>- Microsoft Application Tools such MS Word, MS Excel, MS
                    PowerPoint.</li>
                  <li>- Computer Organizations and Operating Systems.</li>
                  <li>- Programming in C.</li>
                  <li>- Object Oriented Programming Languages such as C++/Java.
                  </li>
                  <li>- RDBMS and Data Management</li>
                  <li>- Web Technologies such as creation of dynamic website.
                  </li>
                </ul>
                <br>
                <h5 class="col-orange">After the completion of course the
                  students will be able to: </h5>
                <hr>
                <ul>
                  <li>- Understand computers, its basic components and
                    applications.</li>
                  <li>- Understand and Identify the Concepts of Computer
                    Hardware and software.</li>
                  <li>- Implement Word Processing Basics.</li>
                  <li>- Create Spread sheets and use of formulas and functions.
                  </li>
                  <li>- Create and develop a presentation.</li>
                  <li>- Understand basic concepts in Networking and
                    Troubleshooting.</li>
                  <li>- Develop the skills for effective compose of E-mails and
                    its features.</li>
                  <li>- Create and develop forms, queries and reports.</li>
                  <li>- Understand the concepts of multimedia and its
                    applications.</li>
                  <li>- Develop the understanding of HTML.</li>
                  <li>- Understand the concepts of Tally and its applications.
                  </li>
                  <li>- Maintenance of PC.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>




<!--


      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2> Add <span class="badge bg-cyan">NEW</span> student to "{{course.courseName}}"-"{{course.CourseId}}"</h2>

                <input (keyup)="applyFilter($event)" placeholder='Search by First Name'>


            </div>
            <div class="body table-responsive">
              <table mat-table [dataSource]="dataSource" class="w-100">

               <a href="#">
                <ng-container matColumnDef="StudentNumber">
                  <th mat-header-cell *matHeaderCellDef>Student Number</th>
                  <td mat-cell *matCellDef="let element"> {{element.StudentId}}</td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td  mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
                </ng-container>

                <ng-container matColumnDef="add/remove">
                  <th mat-header-cell *matHeaderCellDef>Add </th>
                  <td mat-cell *matCellDef="let element"> <button mat-flat-button  (click)="enrollStudent(course.CourseId, element.StudentId)"> <span class="badge bg-cyan"> ADD NEW >></span></button> </td>
                </ng-container>


              </a>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>

            </div>
          </div>
        </div>
      </div>

 -->




<!-- Add new teachers to this course -->


 <div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">





  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p> <span class="badge bg-pink">ADD NEW TEACHER </span> TO {{course.courseName}}- <span class="badge bg-pink">Course ID: {{course.CourseId}}</span></p>
        </mat-panel-title>
        <!-- <mat-panel-description>
          Add new student to the course
        </mat-panel-description> -->
      </mat-expansion-panel-header>


              <div class="header">


                  <!-- <input (keyup)="applyFilter($event)" placeholder='Search by First Name'> -->


              </div>
              <div class="body table-responsive">
                <table mat-table [dataSource]="dataSource3.data" class="w-100">

                 <a href="#">
                  <ng-container matColumnDef="StudentNumber">
                    <th mat-header-cell *matHeaderCellDef>Teacher Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.TeacherId}}</td>
                  </ng-container>
                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td  mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
                  </ng-container>

                  <ng-container matColumnDef="add/remove">
                    <th mat-header-cell *matHeaderCellDef>Add </th>
                    <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="assignTeacher(course.CourseId, element.TeacherId)" > <span class="badge bg-cyan"> ADD NEW >></span></button> </td>
                  </ng-container>


                </a>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator> -->


        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
</div>














<!-- Add new Student to this course -->




 <div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p> <span class="badge bg-pink">ADD NEW STUDENT </span> TO {{course.courseName}}- <span class="badge bg-pink">Course ID: {{course.CourseId}}</span></p>
        </mat-panel-title>
        <!-- <mat-panel-description>
          Add new student to the course
        </mat-panel-description> -->
      </mat-expansion-panel-header>

                <div class="header">


                  <input (keyup)="applyFilter($event)" placeholder='Search by First Name'>


              </div>
              <div class="body table-responsive">
                <table mat-table [dataSource]="dataSource" class="w-100">

                 <a href="#">
                  <ng-container matColumnDef="StudentNumber">
                    <th mat-header-cell *matHeaderCellDef>Student Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.StudentId}}</td>
                  </ng-container>
                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td  mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
                  </ng-container>

                  <ng-container matColumnDef="add/remove">
                    <th mat-header-cell *matHeaderCellDef>Add </th>
                    <td mat-cell *matCellDef="let element"> <button mat-flat-button  (click)="enrollStudent(course.CourseId, element.StudentId)"> <span class="badge bg-cyan"> ADD NEW >></span></button> </td>
                  </ng-container>


                </a>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
</div>



<!-- COURSES TEACHERS LIST -->

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">


      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>  <span class="badge bg-cyan">TEACHER LIST </span> OF {{course.courseName}}- <span class="badge bg-cyan">Course ID: {{course.CourseId}}</span></p>
            </mat-panel-title>
            <!-- <mat-panel-description>
              Add new student to the course
            </mat-panel-description> -->
          </mat-expansion-panel-header>

      <div class="header">

      </div>
      <div class="body table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>No.</th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>EMAIL</th>
              <th>REMOVE</th>
            </tr>
          </thead>
          <tbody *ngFor="let teacher of enrolledTeachers">
            <tr class="bg-light-blue">
              <th scope="row">{{enrolledTeachers.indexOf(teacher)+1}}</th>
              <td>{{teacher.TeacherId}}</td>
              <td>{{teacher.firstName}}</td>
              <td>{{teacher.lastName}}</td>
              <td> <span class="badge bg-purple">{{teacher.email}}</span></td>
              <!-- (click)="removeStudentFromCourse(course.CourseId, teacher.TeacherId)" -->
              <td> <button mat-flat-button   (click)="removeTeacherFromCourse(course.CourseId, teacher.TeacherId)"><span class="badge bg-pink">REMOVE</span></button></td>
            </tr>

          </tbody>
        </table>
      </div>

    </mat-expansion-panel>
    </mat-accordion>


  </div>
  </div>
</div>













<!-- COURSES STUDENTS LIST -->


      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">



            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>  <span class="badge bg-cyan">STUDENTS LIST </span> OF {{course.courseName}}- <span class="badge bg-cyan">Course ID: {{course.CourseId}}</span></p>
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                    Add new student to the course
                  </mat-panel-description> -->
                </mat-expansion-panel-header>


            <div class="header">
            </div>
            <div class="body table-responsive">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>No.</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>EMAIL</th>
                    <th>MOBILE</th>
                    <th>ADRESS</th>
                    <th>REMOVE</th>
                  </tr>
                </thead>
                <tbody *ngFor="let student of dataSource2.data">
                  <tr class="bg-light-blue">
                    <th scope="row">{{dataSource2.data.indexOf(student)+1}}</th>
                    <td>{{student.StudentId}}</td>
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                    <td> <span class="badge bg-purple">{{student.email}}</span></td>
                    <td>{{student.mobile}}</td>
                    <td>{{student.address}}</td>
                    <td> <button mat-flat-button   (click)="removeStudentFromCourse(course.CourseId, student.StudentId)"><span class="badge bg-pink">REMOVE</span></button></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
          </div>
        </div>
      </div>








      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="padding: 3%;">
          <h5 class="col-orange">Course Syllabus</h5>
            <hr>
            <ul>
              <li>- Introduction to Computer and Internet.</li>
              <li>- Microsoft Application Tools such MS Word, MS Excel, MS
                PowerPoint.</li>
              <li>- Computer Organizations and Operating Systems.</li>
              <li>- Programming in C.</li>
              <li>- Object Oriented Programming Languages such as C++/Java.
              </li>
              <li>- RDBMS and Data Management</li>
              <li>- Web Technologies such as creation of dynamic website.
              </li>
            </ul>
            <br>
            <h5 class="col-orange">After the completion of course the
              students will be able to: </h5>
            <hr>
            <ul>
              <li>- Understand computers, its basic components and
                applications.</li>
              <li>- Understand and Identify the Concepts of Computer
                Hardware and software.</li>
              <li>- Implement Word Processing Basics.</li>
              <li>- Create Spread sheets and use of formulas and functions.
              </li>
              <li>- Create and develop a presentation.</li>
              <li>- Understand basic concepts in Networking and
                Troubleshooting.</li>
              <li>- Develop the skills for effective compose of E-mails and
                its features.</li>
              <li>- Create and develop forms, queries and reports.</li>
              <li>- Understand the concepts of multimedia and its
                applications.</li>
              <li>- Develop the understanding of HTML.</li>
              <li>- Understand the concepts of Tally and its applications.
              </li>
              <li>- Maintenance of PC.</li>
            </ul>
        </div>
      </div>









    </div>

  </div>
</section>
